/* Horizontal scrolling tabs */
.tab-list {
	background-color: rgb(255, 218, 224);
	display: grid;
	grid-auto-flow: column;   /* place items horizontally */
	grid-auto-columns: max-content; /* each tab sizes to its content */
	overflow-x: auto;         /* horizontal scroll */
	overflow-y: hidden;
	padding-top: 5px;
}

.tab {
	padding: 2px;
	border: black solid 1px;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
}

.tab.active {
	background-color: lightpink;
}

.search-button-list {
	padding: 5px;
	background-color: lightpink;
}

.search-button {

}

.search-button.selected {
	background-color: #ccc;
	opacity: 0.6;
}